body {
    background-color: white;
    font-family: "Lato", sans-serif;
    max-width: 500px;
    margin: auto;
  }

input[type=number] {
    width: 3em;
    margin: 10px 5px;
    box-sizing: border-box;  
}